@page "/bookCreate/"
@page "/bookCreate/{id}"
@inject Services.Books.ApiService apiService
@inject ToastService toastService
<h3>BookCreate</h3>

@if (book == null)
{
    <p><em>Carregando...</em></p>
}
else
{

    <div class="container">

        <EditForm EditContext="@editContext">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="name">Email address</label>
                        <input type="text" @bind-value="@book.Name" class="form-control" placeholder="Digite o nome">
                        <ValidationMessage For="@(() => book.Name)" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="name">ISBN</label>
                        <input type="text" @bind-value="@book.ISBN" class="form-control" placeholder="ISBN">
                        <ValidationMessage For="@(() => book.ISBN)" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="isbn">Numero de paginas</label>
                        <input type="text" @bind-value="@book.NumberPages" class="form-control" id="isbn" placeholder="Numero de paginas">
                    </div>
                </div>
            </div>

            <button @onclick="handleSubmitClick" type="submit" class="btn btn-primary">ENVIAR</button>

        </EditForm>
    </div>
}