@page "/book"
@inject Services.Books.ApiService apiService
@inject NavigationManager UriHelper
@inject NavigationManager NavigationManager
@inject ToastService toastService

<h3>Contatos</h3>

<button type="button" @onclick="@(() => NavigationManager.NavigateTo($"BookCreate") )" @onclick:preventDefault="true" class="btn btn-primary">Criar</button>
@if (books == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>ISBN</th>
                <th>Numero de páginas</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.id</td>
                    <td>@book.name</td>
                    <td>@book.isbn</td>
                    <td>@book.numberPages</td>
                    <td>
                        <button @onclick="(() => edit(book.id))" type="button" class="btn btn-info"> 
                           Editar
                        </button>
                       
                    </td>
                    <td>
                        <button @onclick="(() => Delete(book.id))" type="button" class="btn btn-danger">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {


}